body {
  overflow-x: hidden;
}

#message {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: hidden;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: white;
  font-weight: bold;
  padding: 5%;
  flex-flow: column;
  /* background: rgba(0, 0, 0, 1); */
  text-align: center;
}

#message > div {
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
}

#black-top {
  top: 0;
  height: 45%;
  width: 100%;
}

#black-left {
  top: 45%;
  left: 0;
  height: 100%;
  width: 20%;
}

#black-right {
  top: 45%;
  right: 0;
  height: 100%;
  width: 20%;
}

#black-bottom {
  bottom: 0;
  height: 15%;
  left: 20%;
  width: 60%;
}

#twoD {
  position: absolute;
  top: 100vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: red;
}
